/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-04-22 16:37:34 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-04-22 16:42:34
 */
.content-container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 $m-size;
}
