/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-04-22 18:53:03 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-04-22 19:04:07
 */
.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}
.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: rgb(243, 107, 107);
}

.form h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  color: teal;
}
