/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-03-08 11:21:49 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-03-12 16:47:59
 */

html {
  font-size: 62.5%;
}
.abc {
  background: red;
}
body {
  // background: radial-gradient(ellipse 75em 55em at top, #ff6a00, #ee0979);
  font-family: 'Lato', sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}
butto:disabled {
  cursor: default;
}
.is-active {
  font-weight: bold;
  color: red;
}
